<div class="user-panel">
    <% if @user.image.attached? %>
    <div class="user-avatar"><%= image_tag @user.image.variant(resize: "150x150") %></div>
    <% else %>
    <div> No avatar </div>
    <% end %>
    <div class="dataprofil">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Username: <%= @user.username %></li>
  
        <li class="list-group-item">Email: <%= @user.email %></li>
 
        <li class="list-group-item"><%= link_to 'Edit profil', edit_user_registration_path(@user) %></li>
      </ul>
    </div>
    <div class="user-actions" style="text-align: center;">
    <%= link_to 'New Post', new_post_path, class: "btn btn-warning" %>  
    </div>
</div>

<div class="users-main-panel">
    <div class="newpostaction">
        <% @posts.each do |post| %>
          <div class="blog-card">
            <div class="meta">
                <% if post.postimage.attached? %>
                <div class="photo" style="background-image: url(<%= url_for(post.postimage) %>)">
                </div>
                <% else %>
                <div class="photo" style="background-image: url()"></div>
                <% end %>
                <ul class="details">
                <li class="author"><%= post.user.username %></li>
                <li class="email"><%= post.user.email%></li>
                <li class="date">Feb. 14, 2020</li>
                <li class="tags">
                  <ul>
                    <li><a href="#">Learn</a></li>
                    <li><a href="#">Code</a></li>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="description">
              <h1><%= link_to post.title, post_path(post) %></h1>
              <h2><%= post.secondtitle %></h2>
              <p><%= truncate(strip_tags(post.content.to_s), length: 100) %></p>
              <table class="actionspost">
                <tbody>
                  <tr>
                    <td>
                      <div class="read-more">
                        <%= link_to 'Show', post %>
                      </div>
                    </td>
                    <td>
                      <div class="read-more">
                        <%= link_to 'Edit', edit_post_path(post) %>
                      </div>
                    </td>
                    <td>
                      <div class="read-more">
                        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                    </td>
                  </tr>
                </tbody>  
              </table>
            </div>
          </div>
        <% end %>
          <div class="post_pagination">
          <%== pagy_bootstrap_combo_nav_js(@pagyposts) %>
          </div>
 
        <div class="user-photos-panel">
            <h1>My Gallery</h1>
            <link  href="https://unpkg.com/nanogallery2@2.4.2/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
            <script  type="text/javascript" src="https://unpkg.com/nanogallery2@2.4.2/dist/jquery.nanogallery2.min.js" ></script>
            
            <div id="ngy2p" data-nanogallery2= '{
                          
        "thumbnailWidth": "200",
        "thumbnailDisplayTransition": "slideLeft",
        "thumbnailDisplayTransitionDuration": 500,
        "thumbnailDisplayInterval": 500,
        "colorScheme": {
          "thumbnail": {
            "borderColor": "rgba(255,255,255,1)"
          }
        },
        "thumbnailHoverEffect2": "imageScale150|imageSepiaOff|labelAppear75",
        "galleryDisplayMode": "pagination",
        "galleryMaxRows": 1,
        "galleryPaginationMode": "dots",
        "thumbnailAlignment": "center"
                        }' >
                  <!-- gallery content -->
                  <% @photos.each do |photo| %>
                  <a href = "<%= photo.image_url %>"   data-ngThumb = "<%= photo.image_url %>" > photo 1 </a>
                  <% end %>
                   
              </div>
                
            
        </div>
        
  
        <div class="alert-panel">
          <p id="notice" class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
    </div>
  </div>