<div class="mainpanel">


<% @posts.each do |post| %>
        <div class="blog-card">
            <div class="meta">
            <% if post.postimage.attached? %>
              <div class="photo" style="background-image: url(<%= url_for(post.postimage) %>)">
              </div>
            <% else %>
              <div class="photo" style="background-image: url()"></div>
            <% end %>
              <ul class="details">
                <li class="author"><%= post.user.username %></li>
                <li class="email"><%= post.user.email%></li>
                <li class="date">Feb. 14, 2020</li>
                <li class="tags">
                  <ul>
                    <li><a href="#">Learn</a></li>
                    <li><a href="#">Code</a></li>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="description">
              <h1><%= link_to post.title, post_path(post) %></h1>
              <h2><%= post.secondtitle %></h2>
              <p><%= truncate(strip_tags(post.content.to_s), length: 120, separator: /\s/) %></p>
              <p class="read-more">
                <%= link_to 'Read More', post_path(post) %>
              </p>
            </div>
          </div>
        <% end %>

</div>


