<div class="mainpanel">
    <div class="home_newpostaction">
        <% if user_signed_in? %>
        <%= link_to 'Add Picture', new_photo_path, class:"btn btn-warning", style: "float: right;" %> 
        <% else %>
        <%= link_to 'Log in to add picture', new_user_session_path, class:"btn btn-warning", style: "float: right;" %>
        <% end %>
    </div> 
        <% @photos.each do |photo| %>
          <tr>
            <td><%= photo.image_data %></td>
            <td><%= link_to 'Show', photo %></td>
            <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
            <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Photo', new_photo_path %>

</div>
