<div class="mainpanel">
    <div class="home_newpostaction">
        <% if user_signed_in? %>
        <%= link_to 'Add Picture', new_photo_path, class:"btn btn-warning", style: "float: right;" %> 
        <% else %>
        <%= link_to 'Log in to add picture', new_user_session_path, class:"btn btn-warning", style: "float: right;" %>
        <% end %>
    </div> 
        <div class="photo_gallery">
              <% @photos.each do |photo| %>
                <div class="photo_container">
                  <%= link_to image_tag(photo.image_url, class: "photo_user"), photo %>
                  <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
          </div>
          <div class="post_pagination">
  <%== pagy_bootstrap_combo_nav_js(@pagyphotos) %>
  </div>
    <%= link_to 'New Photo', new_photo_path %>
</div>
