<div class="user-panel">
    <% if user_signed_in? %>
        <% if current_user.image.attached? %>
        <div class="user-avatar"><%= image_tag current_user.image.variant(resize: "150x150") %></div>
        <% else %>
        <div> No avatar </div>
        <% end %>
        <div class="dataprofil">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Username: <%= current_user.username %></li>
    
            <li class="list-group-item">Email: <%= current_user.email %></li>
    
            <li class="list-group-item"><%= link_to 'Edit profil', edit_user_registration_path(@user) %></li>
        </ul> 
      </div>
      <% end %>
</div>

<div class="photos-main-panel">
      <div class="photos-panel">
          <p id="notice"><%= notice %></p>
              <%= image_tag @photo.image_url, class: "photo-display" %>
                <div class="post-actions">
                  
                    <% if user_signed_in? %>
                      
                      <% if current_user.id == @photo.user.id %>
                        
                        <p><%= link_to 'New Photo', new_photo_path %> - <%= link_to 'Edit', edit_photo_path(@photo) %> - <%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %> - <%= link_to 'Back', user_path(current_user) %></p>
                      
                      <% else %>
                      
                      <p><%= link_to 'Back', user_path(current_user) %></p> 
                      
                      <% end %>
                    
                    <% else %>
                    
                        <p><%= link_to 'Log in to upload photo', new_user_session_path %></p>
                    
                    <% end %>

                </div>

            <div class="alert-panel">
                  <p id="notice" class="notice"><%= notice %></p>
                  <p class="alert"><%= alert %></p>
            </div>
        </div>
  </div>